@import "../../styles/colors";

.footer {
  background-color: $dark;

  &-container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 10px 40px 40px 40px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
  }

  &-column {
    display: flex;
    flex-direction: column;

    &-title {
      color: $white;
      font-size: 1.5rem;
      line-height: 2.5rem;
      padding: 20px 0;
    }

    &.social {
      align-items: center;
    }

    &-link {
      color: $green;
      text-decoration: none;

      svg {
        fill: $white;
        width: 27px;
        height: 27px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer-column {
    width: 100%;
  }
}
